<h1>Welcome to AMAFlix</h1>
<p class="description">AMAFlix is an app to create movie-watching parties with friends.</p>

<% if current_user %>
  <%= button_to "Log Out", '/logout', method: :delete %>
<% else %>
  <%= render partial: '/partials/login_form' %><br>
  <%= link_to "New to AMAFlix? Register Here.", register_path %>
<% end %>
