<h1>Dashboard Index</h1>

<% if current_user %>
  <%= button_to "Log Out", '/logout', method: :delete %>
<% else %>
  <%= render partial: '/partials/login_form' %><br>
  <%= link_to "New to AMAFlix? Register Here.", register_path %>
<% end %>
